#PictureOverlay_BotConfigurationModal {
    position: absolute;
    right: 16.8em;
    top: 0.1em;
    width: 15em;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.93);
    padding: 5px;
    font-size: 0.9em;
}
