.PictureOverlay_OverlayImage {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform-origin: top left;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
