name: Verification build for PR

on:
    pull_request:
        branches: [master]

jobs:
    verify:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Setup Node.js environment
              uses: actions/setup-node@v2.1.2

            - run: npm install
            - run: npm run build:verify
